{% extends 'base.html' %}

{% block title %}Movies List{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Movies List</h1>
        <div class="row">
            {% for movie in movies %}
                <div class="col-md-4 mb-4">
                    <a href="{% url 'movie_detail' movie.id %}" style="text-decoration: none; color: inherit;">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">{{ movie.title }}</h5>
                                <p class="card-text">Release Year: {{ movie.release_year }}</p>
                                <p class="card-text">{{ movie.overview|truncatewords:20 }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <!-- Paginazione -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if movies.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ movies.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;&laquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                {% endif %}

                {% for num in movies.paginator.page_range %}
                    {% if movies.number == num %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% elif num > movies.number|add:'-3' and num < movies.number|add:'3' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% elif num == 1 or num == movies.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% elif num == movies.number|add:'-3' or num == movies.number|add:'3' %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if movies.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ movies.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ movies.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
